@import url('https://fonts.google.com/specimen/Roboto+Mono;);
body {
  margin: 0;
  font-family: Roboto-mono;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
    monospace;
}
